<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <script src="https://unpkg.com/htmx.org@1.3.3"></script>
</head>
<body>
<form hx-post="" hx-target="this">
    
    <div class="form-input">
        <label for="DateJoined">DateJoined</label>
        <input id="DateJoined" name="DateJoined" placeholder="DateJoined">
    </div>
    
    <div class="form-input">
        <label for="Password">Password</label>
        <input id="Password" name="Password" placeholder="Password">
    </div>
    
    <div class="form-input">
        <label for="Username">Username</label>
        <input id="Username" name="Username" placeholder="Username">
    </div>
    
    <button>CREATE User</button>
</form>
</body>
</html>